################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/config/applicationhost.config
/.vs/JS-Pinball/v15/.suo
/.vs
/Game/Ball.png
/Game/PlungerWall.png
/Game/PlungerWallClosed.png
